* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.1em;
}

:root {
    --bleed-content: 0.5em 0.75rem;
    --bleed-container: 1.5rem;
    --border-radius: 0.5rem;
    --height: 1.5rem;
    --gap: 1.5rem;
}

@media (prefers-color-scheme: light) {
    .contaner {
        background-color: whitesmoke;
    }

    .header {
        background-color: black;
    }

    .headerbar {
        background-color: rgb(45, 45, 68);
    }

    .headerbar>div {
        background-color: rgb(199, 71, 71);
    }

    .navbar {
        background-color: rgb(255, 123, 0);
    }

    .navbar>span {
        background-color: rgb(230, 219, 104);
    }

    .main {
        background-color: yellow;
    }

    .article-wrapper {
        background-color: rgb(45, 45, 68);
    }

    .article-wrapper>div {
        background-color: rgb(67, 89, 147);
    }

    .aside {
        background-color: crimson;
    }

    .aside>div {
        background-color: gold;
    }

    .footer {
        background-color: #444;
    }

    .footer-section {
        background-color: gold;
    }
}

/* Modo Tablet PC */
@media screen {
    .container {
        min-height: 100vh;        
        margin: 0 auto;
        padding: var(--bleed-container);
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    /* Header e hijos */
    .header {
        display: flex;
        flex-direction: column;
        padding: var(--bleed-container);
        gap: var(--gap);
        background-image: url(../images/cabecera.jpg);
        background-repeat: no-repeat;
        background-position: center 60% ; /* x y */
        background-size: cover; /* syntax: width height */
    }

    .headerbar {
        display: flex;
        padding: var(--bleed-container);
        gap: var(--gap);
    }

    .headerbar>div {
        height: var(--height);
        flex-grow: 1;
    }

    .headerbar>div:nth-child(2) {
        flex-grow: 2;
    }

    .navbar {
        display: flex;
        padding: var(--bleed-container);
    }

    .navbar>span {
        flex-grow: 1;
        height: var(--height);
    }

    /* Estílos Bloque 2 Main e hijos */

    .main {
        display: flex;

        gap: var(--gap);
        padding: var(--bleed-container);
    }

    .article-wrapper {
        flex-grow: 2;
        display: flex;
        gap: var(--gap);
        padding: var(--bleed-container);
        flex-wrap: wrap;
    }

    .article-wrapper>div {
        height: var(--height);
        flex-grow: 1;
        flex-basis: 40%;
    }

    .article-wrapper>div:last-child {
        flex-grow: 2;
        flex-basis: 100%;
        background-color: rgb(113, 144, 164);
    }

    .aside {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: var(--bleed-container);
        gap: var(--gap);
    }

    .aside>div {
        height: var(--height);
        
    }

    /* Estílos Bloque 1 Footer e hijos */

    .footer {
        padding: var(--bleed-container);
        display: flex;
    }

    .footer-section {
        flex: 1;
        height: var(--height);
    }
}

/* Vista tablet */
@media(max-width:80rem) {
    .main {
        display: flex;
        flex-direction: column;
    }
    
}

/* Vista móvil */

@media (max-width: 40rem) {
    .container{
        width: 22rem;
    }
    .headerbar {
        display: flex;
        flex-direction: column;
    }

    .headerbar>div {
        flex-grow: 1;
    }
    .article-wrapper{
        display: flex;
        
    }
    .article-wrapper>div{
        flex-grow: 1;
        flex-basis: 100%;
    }

}

